@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.aboutwrapper {
  font-family: 'Overpass', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}



.textwrapper {
  width: 50%;
}

.navHashLink {
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .textwrapper {
    width: 95%;
  }

  .aboutwrapper > .coverart {
    margin-top: 8em;
  }

  .textwrapper>p {
    font-size: 18px;
  }

}

