@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.landingPage {
  font-family: 'Overpass', sans-serif;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
  letter-spacing: 2.5px;
  line-height: 1.3;
}
p {
  font-size: 19px;
}
.avatar {
  display: flex;
  justify-content:space-around;
  font-family: 'Overpass', sans-serif;
  margin: 1em;
  padding: 1em;
  margin-left: 5em;
  max-width: 85%;
}

.projectsMap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.project {
  align-self: center;
  max-width: 80%;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
}

.avatar-image {
  align-self: center;
  justify-items: flex-end;
  border-radius: 50%;
  padding: 0.5em;
  border-top: 2px solid rgb(255, 0, 0);
  border-bottom: 2px solid green;
  border-left: 2px solid green;
  border-right: 2px solid red;
  border-end-end-radius: 1px;
  height: 250px;
  margin-right: 5px;
}

.avatar-image:hover {
  box-shadow: 10px 10px 10px rgb(126, 126, 126);
}


section {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
}

.latestProjectsH3 {
  padding-top: 1em;
  margin: auto;
  color: white;
  max-width: 80%;
  font-size: 2em;
  border-bottom: 2px solid rgb(196, 0, 0);

}

.avatar-text {
  max-width: 45%;
  font-family: 'Overpass', sans-serif;

}

#section1 {
  background-color: rgb(22,	28,	56)	;
}

footer {
  font-family: 'Overpass', sans-serif;
  margin: 1em;
  filter: grayscale(85%);
  font-weight: 600;
  color: gray;
}

@media only screen and (max-width: 780px) {

  .avatar {
    display:block;
    max-width: 100%;
  }

  .avatar-text {
    max-width: 100%;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 2em;

  }
  .avatar-image {
float: right;
margin-bottom: 1em;
  }
  .aboutP {
    margin: 0em;
  }
}