@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.landingPage {
  font-family: 'Overpass', sans-serif;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
  letter-spacing: 2.5px;
  line-height: 1.5;
}

p {
  font-size: 19px;
}

.avatar {
  display: flex;
  justify-content: space-between;
  font-family: 'Overpass', sans-serif;
  margin: 1em;
  padding: 1em;
  margin-top: 5em;
  margin-left: 1em;
  max-width: 85%;
}

.projectsMap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.project {
  align-self: center;
  max-width: 80%;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
}

.avatar-image {
  align-self: flex-end;
  justify-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 0.5em;
  border-top: 3px solid rgb(122, 122, 122);
  border-bottom: 3px solid green;
  border-left: 3px solid green;
  border-right: 3px solid rgb(100, 100, 100);
  border-end-end-radius: 15px;
  height: 350px;
  margin-right: 5px;
}

.avatar-image:hover {
  box-shadow: 10px 10px 10px rgb(126, 126, 126);
}


section {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
}

.latestProjectsH3 {
  padding-top: 1em;
  margin: auto;
  color: white;
  max-width: 80%;
  font-size: 2em;
  border-bottom: 2px solid rgb(196, 0, 0);
}

.avatar-text {
  max-width: 55%;
  font-family: 'Overpass', sans-serif;
  align-self: center;

}

#section1 {
  background-color: rgb(33, 27, 27);
}

footer {
  font-family: 'Overpass', sans-serif;
  margin: 1em;
  filter: grayscale(85%);
  font-weight: 600;
  color: gray;
  font-size: 20px;
}

.skills {
  max-height: 3em;
  margin: 2em;
  margin-right: 5em;
  -webkit-filter: grayscale(1);
  /* Webkit */
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* W3C */
}

.techSkillsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {

  .avatar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .avatar-text {
    max-width: 100%;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 2em;

  }

  .avatar-image {
    float: right;
    margin-bottom: 1em;
  }

  .aboutP {
    margin: 0em;
  }

  .skills {
    max-height: 2em;
    margin: 1.5em;
    margin-right: 0em;
  }
}