@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.landingPage {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
  letter-spacing: 3px;
  line-height: 1.5;
}
p {
  font-size: 19px;
}
.avatar {
  display: flex;
  justify-content:space-around;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1em;
  padding: 1em;
  margin-left: 5em;
  max-width: 85%;
}

.projectsMap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.project {
  align-self: center;
  max-width: 80%;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
}

.avatar-image {
  align-self: center;
  justify-items: flex-end;
  border-radius: 50%;
  padding: 0.5em;
  border-top: 2px solid rgb(255, 0, 0);
  border-bottom: 2px solid green;
  border-left: 2px solid green;
  border-right: 2px solid red;
  border-end-end-radius: 1px;
  height: 250px;
}

section {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
}

.latestProjectsH3 {
  margin: auto;
  max-width: 80%;
  font-size: 2em;
  border-bottom: 2px solid rgb(196, 0, 0);

}

.avatar-text {
  max-width: 45%;
  font-family: 'Overpass', sans-serif;

}




@media only screen and (max-width: 780px) {

  .avatar {
    display: block;
  }

  .aboutP {
    margin: 0em;
  }
}