@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.headerStyle {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 75%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}

.logo-image {
  width: 3em;
  border-radius: 50%;
  margin-left: 2em;
}

.leftDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  font-family: 'Overpass', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  margin: 1em;
  text-decoration: none;
}


.link--logo-image {
  width: 1.5em;
  filter: grayscale(100%);
}

.mail {
  text-align: center;
  font-size: 2em;
}


.left {
  border-right: 0.05em solid rgb(6, 165, 6);
}

h1 {
  font-size: 0.5em;
  padding-left: 2em;
  background-color: rgb(82, 79, 72);
  color: rgb(51, 51, 51);
}

.logo {
  color: rgb(196, 0, 0);
}

@media only screen and (max-width: 1200px) {


  .headerStyle {
    width: 100%;
  }

}