.projectScreen {
  max-width: 60%;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
}

.projectDiv {
  font-family: 'Overpass', sans-serif;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 1em;
  max-width: 75%;
  background-color: white;
  border: 2px solid black;
  box-shadow: 7px 7px 2px black;

}
h4 {
  font-size: 1.5em;
}
.titlelink {
  text-align: center;
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.titlelink:hover {
  text-decoration: underline;
}

p {
  font-size: 15px;

}


.button {
  white-space: nowrap;
  padding: 0.7em;
  font-weight: 900;
  text-decoration: none;
  color: rgb(56, 116, 203);
  margin-right: 1em;
  border-bottom: 2px solid gray;
}

.button:hover {
  border-bottom: 3px solid orange;
  box-shadow: 3px 3px 3.5px rgba(0, 0, 0, 0.712);
}

.buttonGroup {
  margin-top: 1em;
}

.contentBlock {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
  line-height: 1.1;
}

.right-handside-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media only screen and (max-width: 1200px) {
  .contentBlock {
    display: flex;
    flex-direction: column;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
    margin-top: 0em;

  }

  .button {
    max-width: 100%;
    font-size: 90%;
  }

  .projectScreen {
    max-width: 100%;
  }

  .projectDiv {
    max-width: 100%;
  }

  
}